<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :image %>
    <%= f.input :name %>
    <%= f.input :category %>
    <%= f.input :origin %>
    <%= f.input :quantity %>
    <%= f.input :price %>
    <%= f.input :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>





  # create_table "products", force: :cascade do |t|
  #   t.string "image"
  #   t.string "name"
  #   t.string "category"
  #   t.string "origin"
  #   t.integer "quantity"
  #   t.integer "price"
  #   t.text "description"
  #   t.bigint "user_id"
  #   t.datetime "created_at", null: false
  #   t.datetime "updated_at", null: false
  #   t.index ["user_id"], name: "index_products_on_user_id"
  # end
