<div class="container">
  <div class="row">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-xs-12 col-sm-6 col-md-3 div-product">
        <div class="card-product" id="anchor" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/500x400/?product');">
          <div class="card-description">
            <h2><%= product.name.capitalize %></h2>
            <h5><%= product.origin.capitalize %></h5>
          </div>
          <%= link_to "", product_path(product.id), class: 'card-link' %>
        </div>
          <h4>Tipo: <%= product.category.capitalize %></h4>
          <h4>Preço/Kg: $<%= product.price %></h4>
          <%= link_to "Ver Mais", product_path(product.id), class: 'btn btn-primary'%>
      </div>
    <% end %>
  </div>
  </div>
</div>
