<!-- <p id="notice"><%= notice %></p> -->
<div class="container">
  <h6>Home / Categorias / <%= @product.category.capitalize %> / <strong><%= @product.name.capitalize %></strong></h6>
  <div class="show-product animated fadeInUp slow">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
      <div class="product-img animated fadeInLeft slow">
      <%if @product.image.present? %>
        <%= cl_image_tag( @product.image,                 width: 300, height: 300, crop: :fill) %>
        <%else%>
        <%= cl_image_tag('ngfqmiujsrwlhlmvu66l',          width: 300, height: 300, crop: :fill) %>
        <%end%>
        </div>
      </div>
    <div class="col-xs-12 col-sm-6">
      <div class="product-components">
        <h2><%=@product.name.capitalize%></h2>
        <p>Origem: <%=@product.origin.capitalize%></p>
        <p><%=@product.description%></p>
        <p>Quantidade: <%=@product.quantity%>kg</p>
        <p>R$ <%=@product.price%>/kg</p>
          <% if user_signed_in? %>
            <% x = product_buy_path(params[:id])  %>
          <% else %>
            <% x = new_user_session_path %>
          <% end %>
        <p><%= link_to 'Comprar', x , class: "btn btn-success lgn-btn" %></p>
        <p><%= link_to 'Voltar', products_path(category: @product.category), class: "btn btn-danger btn-sm", style: "opacity: 0.6; width: 100px;"%></p>
      </div>
    </div>
  </div>
</div>
  <div class="animated fadeInLeft slow" id="map" style="width:100%;height:500px"></div>
    <script>
    function myMap() {
    var mapCanvas = document.getElementById("map");
    var myCenter = new google.maps.LatLng(-23.551378,-46.638090);
      var mapOptions = {center: myCenter, zoom: 15};
      var map = new google.maps.Map(mapCanvas, mapOptions);
      var marker = new google.maps.Marker({
        position: myCenter,
        animation: google.maps.Animation.BOUNCE});
      marker.setMap(map);
    }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBV11HPtIcmMl4mTFeD1fz75ZXj2cFrnJ8&callback=myMap"></script>
</div>


