<!-- <p id="notice"><%= notice %></p> -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <%= image_tag @product.image %>
      <%= cl_image_tag("hxl2z66hp4jcvavfhn4x",
      width: 400, height: 300, crop: :fill) %>

    </div>

  <div class="col-xs-12 col-sm-6">
    <div class="product-components">
      <h2><%=@product.name.capitalize%></h2>
      <p><%=@product.origin.capitalize%></p>
      <p><%=@product.description%></p>
      <p>Quantidade: <%=@product.quantity%></p>
      <p>R$ <%=@product.price%></p>
      <p><%= link_to 'Comprar', new_user_registration_path, class: "btn-treehouse" %></p>
      <p><%= link_to 'Back', products_path, class: "btn btn-danger" %></p>
      <h2><%=@product.name%></h2>
      <p>Infos</p>
    </div>
  </div>
  </div>
</div>



<div class="container">
  <div class="row">

  </div>
</div>

